/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/Vertical
/resource/website-misfinal
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
